version: '3'

services:
  php-fpm:
    build:
      context: ./images/php71
      args:
        - USER_ID
        - GROUP_ID
    volumes:
      - ./www:/var/www
      - ./aliases/php71/bash.bashrc:/etc/bash.bashrc
    environment:
      XDEBUG_CONFIG: "remote_host=${IP} remote_enable=1  remote_port=9100"
      PHP_IDE_CONFIG: "serverName=first"
  nginx:
    image: nginx
    volumes:
      - ./hosts:/etc/nginx/conf.d
      - ./www:/var/www
      - ./logs:/var/log/nginx
    ports:
      - "8080:80"
    depends_on:
      - php-fpm
  mysql:
    image: mysql:5.7
    ports:
      - "33006:3306"
    volumes:
      - ./mysql/data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: secret
